group Main
    source https://api.nuget.org/v3/index.json
    storage:none

nuget Fable.Browser.XMLHttpRequest
nuget Fable.Browser.Dom
nuget Fable.Remoting.Json
nuget Fable.SimpleJson
nuget FSharp.Core
nuget Fable.Core
nuget Suave
nuget Selenium.WebDriver

group Build
  framework >= net45
  source https://api.nuget.org/v3/index.json

  nuget FAKE ~> 4.64.6
